---
title: API de análisis
parent: Home
description: 'The <span translate="No">API de análisis</span> le permite obtener datos analíticos para sus cuentas de Video Cloud mediante programación. También puede ver los informes de análisis integrados en el módulo de análisis de Video Cloud Studio. El acceso a los datos mediante programación le brinda flexibilidad adicional.'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <table width="100%" border="0">
    <tbody>
      <tr>
        <td width="30%">
        <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5996554433001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
        <td width="70%">
        <h3 id="Typical_uses">Usos típicos</h3>
  
        <ul>
          <li>Crear gráficos y pantallas personalizados</li>
          <li>Trabajar con varias API juntas, por ejemplo, obtener datos de video usando el <span translate="No">CMS API</span> para los videos con más vistas durante la semana anterior</li>
          <li>Combinando sus datos analíticos de video con otros datos analíticos del sitio</li>
        </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>