---
title: API de reproducción
parent: Home
description: '<p>La API de reproducción se utiliza para obtener datos de listas de reproducción y vídeos de Video Cloud. Por lo general, se usa para enviar datos de video a un reproductor en una página web o en una aplicación móvil.&nbsp;La API de reproducción es una API de baja latencia destinada al uso del lado del cliente para obtener datos de listas de reproducción o videos de páginas web o aplicaciones móviles. No es una API de administración de medios general para usar en la integración de Video Cloud con su CMS u otros sistemas; para eso, debe usar la <a href="/cms/index.html">API de CMS</a>.</p>

<p>La autenticación para la API de reproducción requiere una clave de política, que puede obtener mediante la<a href="/policy/index.html"> API de política</a> o <a href="/policy/getting-started/policy-keys.html">de un jugador</a> en tu cuenta.</p>'
---
 <h1>{{ page.title }}</h1>
<article class="bcls-article">
  <div style="width: 100%;">
      <div style="width: 35%;vertical-align: top;display: inline-block;"><div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6004281287001">&nbsp;</div>
        <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></div>
      <div style="display: inline-block; width: 55%;"><summary style="display: block;">{{ page.description }}</summary></div>
  </div>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>